# Generated parser and lexer files
**/bin/
**/.vs/
**/obj/
**/Parser.fsyacc.output
**/Lexer.fs
**/Lexer.fsi
**/Parser.fs
**/Parser.fsi
Formalization/mangofn-formalization.synctex.gz
Formalization/mangofn-formalization.aux
Formalization/mangofn-formalization.log